*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 90px;
  background: rgba(36, 153, 255, 0.9) url('../img/pattern.png');
  background-size: 28%;
}

main{
  margin-left: 10px;
}

.logo{
  margin-left: 10px;
  margin-top: 27px;
  height: 55px;
}

.title-container{
  margin-top: 10px;
  width: 95%;
  margin-top: 20px;
}

.title{
  font-size: 45px;
}

.author-text-container{
  font-size: 18px;
  color: rgb(123, 123, 123)
}

.title-author{
  color: rgba(36, 153, 255, 0.9)
}

.title-date{
  font-size: 13px;
}

.img-container{
  margin-top: 18px;
}

.img-description{
  font-size: 15px;
}

