*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  height: 90px;
  background: rgba(36, 153, 255, 0.9) repeat-x url('../img/pattern.png');
  background-size: 28%;
}

.logo-container{
  height: inherit;
}
.logo{
  margin-left: 9px;
  margin-top: 35px;
  height: 55px;
}
.title-container{
  margin-top: 10px;
  margin-left: 8px;
  width: 95%;
  margin-top: 20px;
  font-size: 30px;
}